<%- include('./partials/header.ejs') %>

<div class="container">
  <h1>HOME</h1>
  <p><%= homeParagraph %></p>
  <br>
<!-- forEach Loop -->
  <% articlesArrayinEJS.forEach(function(article){ %>
  <%  console.log(article.articleTitle); %>
  <%  console.log(article.articleBody); %>

  <h1><%= article.articleTitle %></h1>
  <p><%= article.articleBody.substring(0 , 100) + " ..." %></p>
  <a href="/posts/<%=article.articleTitle%>"> More </a>

  <% }); %>

</div>

<%- include('./partials/footer.ejs') %>
